.taskDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 12px 0;

  .backIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 50%;

    color: #566a7f;

    background: #f2f6f9;

    cursor: pointer;
  }

  .title {
    flex: 1;

    font-size: 16px;
    color: #3a3a3a;
    font-weight: 700;
  }

  .closeIcon {
    color: #979797;
    font-size: 30px;

    cursor: pointer;
  }
}

.taskInfo {
  .sensed-form-item {
    margin-bottom: 8px;
  }

  .sensed-form-item-label {
    width: 128px;
  }
}

.taskProgress {
  display: flex;
  align-items: center;

  .sensed-progress {
    width: 240px;
    margin-right: 12px;
  }

  .sensed-btn {
    padding: 0 8px;
    min-width: auto;
  }
}

.tab {
  margin: 16px 0;

  label {
    padding: 0 34px;
  }
}
